body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #FFF;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
}
h1, h2{
  font-weight: normal;
}
label{
  font-size:18px;
  margin: 20px 0px;
  display: block;
}
.content {
  margin: 30px 0px 0px 0px;
}
.home h1 {
  font-weight: normal;
  font-size: 70px;
  text-align: center;
  margin:0px;
}
.home h2 {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

.big-button {
  background: #6158e9;
  border: none;
  border-radius: 10px;
  padding: 10px;
  min-width: 100px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  display: inline-block;
  margin: 15px 0px;
  cursor: pointer
}
#root, .wrapper{
  width: 100%;
  height:100%;
}
.wrapper > div{
  display: table;
  height: 100%;
  width:100%;
}

.right-wrapper{
  text-align: right;
  padding: 10px 0px;
}

textarea, input, button, select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
 }

input[type=text] {
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
  background: none;
  border: none;
  color: #FFF;
  font-size: 25px;
  text-align: center;
  border-bottom: 3px #fff solid;
}
.full{
  width: 100%;
}
.center{
 display: table-cell;
 vertical-align: middle; 
 width:100%;
 text-align: center
}

.phone_wrapper {
  /* background:#14093d; */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#444662+0,2e2e47+29,363651+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#535460+0,2e2e47+29,363651+100 */
background: #535460; /* Old browsers */
background: -moz-linear-gradient(top, #535460 0%, #2e2e47 29%, #363651 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #535460 0%,#2e2e47 29%,#363651 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #50436b 0%,#2e2e47 45%,#363651 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535460', endColorstr='#363651',GradientType=0 ); /* IE6-9 */
  border-radius: 10px;
  padding: 20px; 
  width: 320px;
  height: 650px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

/* interest */
.interest_counter{
  display:inline-block;
  color: #434662;
  background: rgba(255,255,255, 0.7);
  padding: 5px 8px;
  margin-left: 5px;
  /* width: 20px; */
  /* height: 20px; */
  border-radius: 50%;
  font-size: 10px;
}
.interest_select{
  user-select: none;
  display: inline-block;
  border-radius: 10px;
  margin: 5px 5px;
  padding: 5px 10px;
  background: #FFF;
  color: #000000;
  cursor: pointer;
  transition: all 0.5s;
}
.interest_select span{
  display: inline-block;
  vertical-align: middle;
}
.interest_select.s-1{
  background:#EFFDD2
}
.interest_select.s-2{
  background:#F4FD74
}
.interest_select.s-3{
  background:#FDD679
}
.interest_select.s-4{
  background:#F7A665
}
.interest_select.s-5{
  background:#EB514D
}

.chatroom_list {

}

.chatroom_list .last_message{
  padding: 0px 10px 5px;
}

.chatroom_list .item {
  background: rgba(0,0,0,0.25);
  padding: 15px;
  color: #FFF;
  border-radius: 20px;
  margin: 10px 0px;
}

.chatroom_list .member {
  display:inline-block;
  text-align: center;
  margin: 0px 5px;
}

.chatroom_list .member img{
  margin-bottom: 7px;
  display: block;
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.ChatMessage > div, .correction > .Message, .correction .display_diff{
  padding: 10px;
  margin: 0px 0px 10px 0px;
  min-width: 80px;
  max-width:200px;
  border-radius: 13px;
}
.ChatMessage .Message{
}
.ChatMessage .latest_message{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6a76cb+0,9577e1+100 */
  background: #6a76cb; /* Old browsers */
  background: -moz-linear-gradient(45deg, #6a76cb 0%, #9577e1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #6a76cb 0%,#9577e1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #6a76cb 0%,#9577e1 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a76cb', endColorstr='#9577e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.incoming_msg .ChatMessage > div, .correction > .Message{
  background: #434662;
}
.sender_msg .ChatMessage > div, .correction .display_diff {
  background: #a2a6c7
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
.ChatMessages > div{
  width: 100%;
}
.chat_area{
  height: 510px;
  overflow-y: auto; 
}
.ChatMessages > div > div, .correction .display_diff{
  display: inline-block;
}
.Message{
  text-align: left;
}
.ChatMessages > .incoming_msg {
  text-align: left;
}
.ChatMessages > .sender_msg, .correction .correct_msg{
  text-align: right;
}
.ChatMessages > .sender_msg > div{
  text-align: left;
}
.added {
  border-bottom: 3px solid green;
}
.removed {
  border-bottom: 3px solid red;
  color: #a9a9a9;;
}

.display_diff > div{
  display:inline
}
.ChatInput {
}
.common_interest{
  text-align: center;
  margin-bottom: 10px;
}
.common_interest > div {
  display: inline-block;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 5px 10px;
}

i {
  border: solid #fff;
  border-width: 0 4px 4px 0px;
  display: inline-block;
  padding: 3px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}